* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
}

header {
    background-color: #000000;
    padding: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: #ff9100;
}

header .logo img {
    width: 120px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(255, 123, 0);
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
}

.hero {
    position: relative;
    text-align: center;
    margin-top: 50px;
}

.hero-image {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    font-weight: bolder;
    width: 400px;
    font-size: 15px;
    top: 45%;
    left: 26%;
    transform: translate(-50%, -50%);
    color: rgb(255, 123, 0);
}

.hero-text h1 {
    font-size: 50px;
}

.hero-text button {
    padding: 20px 40px;
    background-color: #dd9103;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
    box-shadow: 0px 5px 10px;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #000000;
}

.content {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: white;
}